body {
  text-align: center;
  color: #FFF;
  margin: 20px;
}

.worry.win {
  left: 0 !important;
  right: 0 !important;
  z-index: 10;
}

.worry {
  background-size: cover;
  background-position: 50%;
  height: 100%;
  transition: left .3s, right .3s;
  cursor: pointer;
  position: absolute;
}

.worry-text {
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, .1);
}

#right{
  left: 50%;
  right: 0;
}

#left {
  left: 0;
  right: 50%;
}

.card {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.v-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.init-card {
  background-color: #0769AD;
  text-shadow: 2px 2px #DDD;
}

.loading-card {
  background-color: #000;
}

.create-card-inner {
  color: #000;
  width: 400px;
  margin: auto;
  text-align: left;
}

.create-card button {
  margin-top: 10px;
}

.leaving {
  z-index: 10;
  transition: top .3s .3s;
}

.leave {
  top: -100%;
}