body {
  text-align: center;
  color: #FFF;
  margin: 20px;
  overflow: hidden;
}

h1 {
  padding: 20px;
  margin: 0;
}

.worry.win {
  left: 0 !important;
  right: 0 !important;
  z-index: 10;
}

.worry {
  height: 100%;
  transition: left .3s, right .3s;
  cursor: pointer;
  position: absolute;
}

.worry ,
.rank {
  background-size: cover;
  background-position: 50%;
}

.worry-text {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, .1);
}

.right{
  left: 50%;
  right: 0;
}

.left {
  left: 0;
  right: 50%;
}

.card {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.v-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.init-card {
  background-color: #0769AD;
  text-shadow: 2px 2px #DDD;
}

.loading-card {
  background-color: #000;
}

.create-card-inner {
  color: #000;
  width: 320px;
  margin: auto;
  text-align: left;
}

.create-card button {
  margin-top: 10px;
}

.leaving {
  z-index: 10;
  transition: top .3s .3s;
}

.leave {
  top: -100%;
  overflow: hidden
}

.analize-city {
  background-color: #5bc0de;
}

.analize-topic {
  background-color: #ec971f;
}

.rankings {
  height: 100%;
  margin: 0;
  padding: 0;
}
.rank,
.compare-city {
  font-size: 65px;
}
.rank h1 {
  line-height: 85px;
}
.rank-number{
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.ranking-title {
  background-color: #5bc0de;
}

.compare-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.compare-city {
  position: absolute;
  width: 100%;
  left: 0;
}

.city-text {
  display: inline-block;
}

.city-line {
  position: absolute;
  width: 7px;
  background-color: black;
}

.compare-city:nth-child(7n+1),
.rank:nth-child(7n) h1 {
  background-color: rgba(255, 0, 0, .5)
}
.compare-city:nth-child(7n+2),
.rank:nth-child(7n+1) h1 {
  background-color: rgba(255, 127, 0, .5)
}
.compare-city:nth-child(7n+3),
.rank:nth-child(7n+2) h1 {
  background-color: rgba(255, 255, 0, .5)
}
.compare-city:nth-child(7n+4),
.rank:nth-child(7n+3) h1 {
  background-color: rgba(0, 255, 0, .5)
}
.compare-city:nth-child(7n+5),
.rank:nth-child(7n+4) h1 {
  background-color: rgba(0, 0, 255, .5)
}
.compare-city:nth-child(7n+6),
.rank:nth-child(7n+5) h1 {
  background-color: rgba(75, 0, 130, .5)
}
.compare-city:nth-child(7n),
.rank:nth-child(7n+6) h1 {
  background-color: rgba(143, 0, 255, .5)
}

.tooltip-andrew{
  pointer-events: none;
  position: fixed;
  bottom: -100px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  transition: bottom 3s, opacity 3s;
}

.tooltip-move{
  bottom: 25px;
}

.tooltip-vanish{
  bottom: 100px;
  opacity: 0;
}
