body {
  text-align: center;
  color: #FFF;
  margin: 20px;
}

.worry.win {
  opacity: 1;
}

.worry {
  background-size: cover;
  background-position: 50%;
  height: 100%;
  opacity: .5;
  transition: opacity .3s;
}

.card {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.v-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.init-card {
  background-color: #0769AD;
  text-shadow: 2px 2px #DDD;
}

.loading-card {
  background-color: #000;
}

.leaving {
  z-index: 10;
  transition: top .3s .3s;
}

.leave {
  top: -100%;
}